<div class="row">

    <div class="col-4 mt-4" *ngFor="let p of productos">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{p.nombreProducto}}</mat-card-title>
                <mat-card-subtitle>{{p.marca.nombre}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    {{p.observaciones}}
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="seeDetail(p)">Ver Detalles</button>
                <button mat-button *ngIf="usuario.role == 'admin'" class="text-danger" (click)="deleteProduct(p)">Eliminar</button>
       
            </mat-card-actions>
        </mat-card>
    </div>


</div>