<div class="body">
  <div class="login-page animate__animated animate__fadeIn">
    <h2>Registrarse</h2>
    <div class="form">
      <form class="login-form" [formGroup]="form" (ngSubmit)="onSubmitForm()">
        <input
        type="text"
        formControlName="name"
        name="name"
        placeholder="Escriba su nombre"
        required
      />
        <input
          type="email"
          formControlName="email"
          name="email"
          placeholder="Escriba su email"
          required
        />
        <input
          type="password"
          name="password"
          formControlName="password"
          placeholder="Escriba su contraseña"
          required
        />
        <input
          type="password"
          name="confirmedPassword"
          formControlName="confirmedPassword"
          placeholder="Confirme su contraseña"
          required
        />
        <button [disabled]="form.invalid">Registrarse</button>
      </form>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
