<div *ngIf="data" #else>
    <h1> Actualizar {{ data.nombreProducto }}</h1>
</div>
<ng-template #else>
    <h1>Crear Producto</h1>
</ng-template>
<hr />

<form [formGroup]="form">
    <h2>Imagen Producto</h2>
    <div class="row">
        <mat-form-field class="col-12">
            <ngx-mat-file-input #removableInput formControlName="file" (change)="fileEvent($event)"
                placeholder="Subir Imagen" [accept]="'.jpg,.jpeg,.png,.gif'"></ngx-mat-file-input>
            <mat-icon *ngIf="removableInput.empty" matSuffix>folder</mat-icon>
            <button mat-icon-button matSuffix *ngIf="!removableInput.empty" (click)="removableInput.clear($event)">
                <mat-icon>clear</mat-icon>
            </button>
            <mat-error *ngIf="form.get('file').errors?.invalidNumber">
                El número maximo de imagenes son dos.
            </mat-error>
            <mat-error *ngIf="form.get('file').hasError('maxContentSize')">
                El tamaño total no debe exceder
                {{ form.get('file')?.getError("maxContentSize").maxSize | byteFormat }}
                ({{ form.get('file')?.getError("maxContentSize").actualSize | byteFormat }}).
            </mat-error>
        </mat-form-field>
    </div>
    <div class="row">
        <div class="col-md-6 col-12">
            <mat-form-field appearance="legacy" class="w-100">
                <mat-label>Nombre del producto</mat-label>
                <input matInput placeholder="Nombre del producto" formControlName="nombreProducto" />
            </mat-form-field>
        </div>
        <div class="col-md-4 col-12">
            <mat-form-field appearance="legacy" class="w-100">
                <mat-label>Talla</mat-label>
                <mat-select formControlName="talla">
                    <mat-option *ngFor="let t of tallas" [value]="t">{{t}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row mb-md-3">
        <div class="col-md-6 col-12">
            <mat-form-field appearance="legacy" class="w-100">
                <mat-label>Cantidad</mat-label>
                <input matInput placeholder="" type="number" formControlName="cantidad" />
            </mat-form-field>
        </div>
        <div class="col-md-6 col-12">
            <mat-form-field appearance="legacy" class="w-100">
                <mat-label>Fecha de exp. Cámara de comercio</mat-label>
                <input matInput [matDatepicker]="picker1" formControlName="fechaEmbarque" />
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <mat-form-field appearance="legacy" class="w-100">
                <mat-label>Observaciones del producto</mat-label>
                <textarea matInput placeholder="Descripción detallada del producto que brinda..."
                    formControlName="observaciones"></textarea>
                <!--  <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-6 d-grid gap-2">
            <button mat-stroked-button color="primary" class="btn" [disabled]="!form.valid">
                <mat-icon>done</mat-icon>
                <span class="ms-2"> Aceptar</span>
            </button>
        </div>
        <div class="col-6 d-grid gap-2">
            <button mat-stroked-button color="warn" class="btn" (click)="dialogRef.close()">
                <mat-icon>close</mat-icon>
                <span class="ms-2"> Cancelar</span>
            </button>
        </div>
    </div>
</form>