<div class="row d-flex">
    <div class="col">
        <nav class="navbar navbar-light">
            <div class="container-fluid mt-2 px-2">
                <a class="navbar-brand">
                    <mat-icon>store</mat-icon> Listado de Marcas
                </a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
            </div>
        </nav>
        <div class="card p-sm-3 border-0 mt-1" style="
        border-radius: 0.25rem;
        box-shadow: 1px 1px 2px rgb(91 101 130 / 10%);
      ">
            <div class="d-flex">
                <input name="filterPost" [(ngModel)]="filterPost" class="form-control m-1 w-auto" type="search"
                    placeholder="Busqueda de registros" aria-label="Search" />
                <button *ngIf="usuario && usuario.role == 'admin'" (click)="openModal()" class="btn btn-outline-primary d-flex align-items-center m-1">
                    <mat-icon style="font-size: 18px; height: 18px">add_business</mat-icon>Agregar
                </button>
            </div>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"><small>ID</small></th>
                            <th scope="col"><small>Nombre</small></th>
                            <th scope="col"><small>Referencia</small></th>
                            <th scope="col"><small>Acción</small></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="cursor: pointer" *ngFor="
                let m of marcas | search: filterPost | paginate: { itemsPerPage: 10, currentPage: p }
              ">
                            <td>
                                <small>{{ m.id }}</small>
                            </td>
                            <td>
                                <small>{{ m.nombre }}</small>
                            </td>
                            <td>
                                <small>{{ m.referencia }}</small>
                            </td>
                            <td>
                                <mat-icon title="eliminar" style="cursor: pointer;" class="text-danger me-3"
                                    (click)="deleteMarca(m)">delete_forever
                                </mat-icon>
                                <mat-icon title="actualizar" style="cursor: pointer;" class="text-info"
                                    (click)="openModal(m)">
                                    update</mat-icon>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls class="d-flex justify-content-center" (pageChange)="p = $event" [responsive]="true"
                    previousLabel="" nextLabel=""></pagination-controls>
            </div>
        </div>
        <br />
    </div>
</div>