<div class="row d-flex justify-content-center">
  <div id="maxw" class="col-12">
    <h1 id="disp-1" class="text-center">Oops!</h1>
    <h2 class="mb-0">Esta pagina no se encontró</h2>
    <p>Lo sentimos, pero la página que está buscando no existe, ha sido eliminada, cambio de nombre o no está disponible
      temporalmente.</p>
  </div>
</div>
<div class="row d-flex justify-content-center pb-5">
  <div class="col text-center">
    <button class="btn btn-info" [routerLink]="['']"> Volver al inicio</button>
  </div>
</div>
