<div class="body">
  <div class="login-page">
    <h2>Restablecer Contraseña</h2>
    <div class="form">
      <form class="login-form" [formGroup]="form" (ngSubmit)="onSubmitForm()">
        <input
          type="email"
          formControlName="email"
          name="email"
          placeholder="Escriba su Email"
          required
        />
        <input
          type="password"
          name="password"
          formControlName="password"
          placeholder="Escriba la nueva contraseña"
          required
        />
        <input
          type="password"
          name="password_confirmation"
          formControlName="password_confirmation"
          placeholder="Vuelva a escribir la nueva contraseña"
          required
        />
        <button [disabled]="form.invalid">Restablecer Contraseña</button>
      </form>
    </div>

    <div class="alert alert-dismissible alert-danger mt-4" *ngIf="error">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong>Email o Contraseña Incorrectas!!</strong>
    </div>
  </div>
</div>
